{{> navbar}}
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Bienvenido a la App Integradora</h1>
      {{#if user}}
        <p>Estás en la cuenta activa de {{user.username}}</p>
      {{else}}
        <p>Por favor, inicia sesión o regístrate</p>
      {{/if}}
    </div>
  </div>
</div>
{{> footer}}

{{!-- Scripts --}}
