{{> navbar}}
<div class="container-form">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Inicia sesión</h2>
      <p>Por favor, completa el formulario para acceder a tu cuenta</p>
    </div>
  </div>
<form method="POST" action="/auth/login">
  <input name="email" placeholder="Email" required />
  <input name="password" type="password" placeholder="Contraseña" required />
  <button type="submit">Ingresar</button>
</form>
{{#if error}}
  <p style="color: red;">{{error}}</p>
{{/if}}
{{#if success}}
  <p style="color: green;">{{success}}</p>
{{/if}}
</div>
{{> footer}}